.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}
.fill {
  --color: #a972cb;
  --hover: #cb72aa;
}
button.pulse {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
button.pulse:hover, button.pulse:focus {
  border-color: var(--hover);
  color: #fff;
}

button.pulse {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

button.fill {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
button.fill:hover, button.fill:focus {
  border-color: var(--hover);
  color: #fff;
}

button.fill {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}